@use 'uswds-core/src/styles/functions/units' as spacing;

.fade {
  transition: opacity 0.5s ease-in-out; 
}

.fade-in {
  opacity: 1; 
}

.fade-out {
  opacity: 0;
}

@media (min-width: spacing.units('desktop')) {
  .homepage {
    margin-top: calc(-1 * var(--header-height, 0px)); // Offset to appear behind the header
    padding-top: var(--header-height, 0px); // Push content down below the header
  }
}


main {
  display: flex; 
  flex-direction: column; 
  flex: 1; 

  section.homepage {
    display: flex;
    flex: 1;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0)
      ), 
      url(/images/homepage/background.jpeg);

    .hero {
      max-width: 800px;
      margin-left: 90px;
      text-transform: uppercase;

      h1 {
        color: white;
        font-size: 68px;
        margin-bottom: 40px;
      }
    }
  }
}

