@forward 'uswds-theme';
@forward 'uswds';

@use 'uswds-core' as *;

@forward 'homepage';
@forward '../components/header/header.scss';

:root {
  --header-height: 75px; /* Default height, setting the value aims to minimize layout shift on initial load. It is overwritten with the actual measured value in header-client.tsx */
}

body {
  box-sizing: border-box;
}

.veda__hug-reset-container {
  grid-column: 1 / -1;
}

#pagebody {
  &:focus {
    outline: 0;
  }
}

.link--block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// USWDS does not provide a text-capitalize utility class, so we'll add one here
.text-capitalize {
  text-transform: capitalize;
}

.mdx {
  *:not(h1, h2, h3, h4, h5){
    line-height: 1.6rem;
  }
  h1, h2, h3, h4, h5 {
    line-height: 27px;
  }

  section {
    padding-bottom: 60px;
  }
}