@use 'uswds-core/src/styles/functions/utilities' as utils;
@use 'uswds-core/src/styles/functions/units' as spacing;

.about {
  .usa-in-page-nav {
    margin: 0;

    &__nav {
      padding-left: 0;
    }

    &__list {
      a:not(.usa-button):hover {
        background: none;
      }

      .usa-current {
        &::after {
          top: 0;
          height: 100%;
          background-color: utils.color('gray-cool-90');
          border-radius: 0;
        }

        .usa-link {
          color: black !important;

          .usa-in-page-nav__link {
            color: black;
          }
        }
      }
    }
  }

  h2 {
    scroll-margin-top: spacing.units(10);
  }
}
