@use 'uswds-core/src/styles/functions/units' as spacing;

$image-width-default: 110px;
$image-width-first: 330px;

.center-card {
  isolation: isolate;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: spacing.units(2);
  min-height: 9rem; 
  height: 323px; 
  
  &__image {
    height: 100%;
    
    img {
      width: $image-width-default;
      height: 100%;
      object-fit: cover;
      border-radius: 0.25rem;
    }
  }

  &__body {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 spacing.units('205');
  }

  &.is-first {
    min-height: 12rem; 
    height: auto; 
    padding: 20px; 

    .center-card__image img {
      height: 200px;
    }
  }

  // Mobile layout
  @media (width <= spacing.units('tablet-lg')) {
    flex-direction: column;
    width: 100%;
    min-height: 9rem !important; 
    
    .center-card__image {
      height: 9rem; 
      width: 100%;

      img {
        width: 100% !important;
      }
    }

    &__body {
      padding: 0;
    }
  }
} 