$card-height-default: 167px;
$card-height-first: 192px;
$image-width-default: 110px;
$image-width-first: 330px;

.center-card {
  isolation: isolate;
  height: $card-height-default;

  &__image {
    height: 100%;
    
    img {
      width: $image-width-default;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }
  }

  &.is-first {
    height: $card-height-first;

    .center-card__image img {
      width: $image-width-first;
    }
  }
} 