@import './mixins';

.theme-card {
  position: relative;
    // Height matches the combined height of card media and card body components 
  // from USWDS Card used in exhibit cards, which is 400px.
  height: 400px;

  .usa-card__container {
    @include card-container-reset;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s $card-transition-ease;
  }

  .custom-card-media.usa-card__media {
    height: 100%;
    border-radius: inherit;
    
    > .usa-card__img {
      height: 100%;
    }
  }
  
  .card-overlay {
    @include absolute-overlay();
    @include gradient-overlay('to bottom');
    transition: opacity 0.4s $card-transition-ease;
  }
  
  .card-title {
    @include card-title-with-effects(white);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    @include gradient-overlay('to top');
  }
  
  // Parent class for hover effects
  @include card-with-effects-parents;
}