.theme-card {
  --theme-card-height: 400px;
  height: var(--theme-card-height);
  position: relative;
  isolation: isolate;

  .usa-card__container {
    border: 0;
    background-color: transparent;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .custom-card-media.usa-card__media {
    height: 100%;
    border-radius: inherit;
    
    > .usa-card__img {
      height: 100%;
    }
  }
} 